html, body {
  background-color: ivory;
  padding: 5px;
}

#data_table{
    /* moves your table 10pixels down */
    margin-top: 0px; 
    /* moves your table 10pixels right */
    margin-right: 50px;
    font-size: 20px
}

#data_table {
    font-family: calibri, arial;
    width: 400px;
}

#data_table thead td {
    background-color: #8CCCF1;
}

#data_table td {
    border: 1px solid #466E85;
    width: 80px;
    padding: 7px;
}

#data_table td:nth-child(1) { 
    background-color: #8CCCF1;
}

#data_table tbody tr:nth-child(2) td:nth-child(2) { 
    background-color: #8CCCF1;
}

#canvas {
  border: 1px solid rgb(88, 90, 87);
  margin-left: 80px;
}
