html,
body {
  background-color: ivory;
  padding: 5px;
}

#canvas {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(88, 90, 87);
    margin-left: 80px;
  }

#data_table {
  display: inline-block;
  vertical-align: middle;
  /* moves your table 10pixels down */
  margin-top: 10px;
  /* moves your table 10pixels right */
  margin-left: 100px;
  font-size: 20px;
}

#data_table {
  font-family: calibri, arial;
  width: 400px;
}

#data_table thead td {
  background-color: #8cccf1;
}

#data_table td {
  border: 1px solid #466e85;
  width: 80px;
  padding: 7px;
}

#data_table td:nth-child(1) {
  background-color: #8cccf1;
}

#data_table tbody tr:nth-child(2) td:nth-child(2) {
  background-color: #8cccf1;
}
