html,
body {
  background-color: ivory;
  padding: 5px;
}

#canvas {
  display: block;
  border: 1px solid rgb(88, 90, 87);
  margin-left: 150px;
}

#show_button {
  margin-left: 290px;
}
#distance {
  display: flex;
  align-items: center;
}

#difference {
  display: flex;
  align-items: top;
}

#data_table {
  display: inline-block;
  margin-left: 10px;
}

#data_table {
  font-family: calibri, arial;
  width: 400px;
}

#data_table thead td {
  background-color: #8cccf1;
}

#data_table td {
  border: 1px solid #466e85;
  width: 80px;
  padding: 7px;
}

#data_table td:nth-child(1) {
  background-color: #8cccf1;
}

#data_table tbody tr:nth-child(2) td:nth-child(2) {
  background-color: #8cccf1;
}

#data_table_m1 {
  display: inline-block;
}
#data_table_m1 {
  font-family: calibri, arial;
  width: 400px;
}

#data_table_m1 thead td {
  background-color: #8cccf1;
}

#data_table_m1 td {
  border: 1px solid #466e85;
  width: 80px;
  padding: 7px;
}

#data_table_m1 td:nth-child(1) {
  background-color: #8cccf1;
}

#data_table_m1 tbody tr:nth-child(2) td:nth-child(2) {
  background-color: #8cccf1;
}

#result {
  font-size: 40px;
}
